@model IEnumerable<downr.Models.Document>

@foreach (var post in Model)
{
    <li class="list-group-item">
        <a asp-page="./Post" asp-route-slug="@post.Metadata.Slug">
            <h3>@post.Metadata.Title</h3>
        </a>

        @Html.Truncate(post.Content)

        <div class="clearfix">
            <a asp-page="./Post" asp-route-slug="@post.Metadata.Slug" class="btn btn-sm btn-secondary float-left">
                <time datetime="@post.Metadata.Date.ToLocalTime().ToString("d-MM-yyyy")">
                    @post.Metadata.Date.ToLocalTime().ToString("d MMMM yyyy")
                </time>
            </a>

            @foreach (var tag in post.Metadata.Tags)
            {
                <a asp-page="./Tag" asp-route-name="@tag" class="btn btn-sm btn-secondary float-right">
                    <i class="right chevron icon"></i> @tag
                </a>
            }
        </div>
    </li>
}