@page "{slug}"
@model PostModel

@using downr.Services.Posts

@inject IPostService postService

@{
    this.ViewData["Title"] = Model.Post.Metadata.Title;

    var prevAndNext = this.postService.GetPrevAndNextPosts(Model.Post.Metadata.Slug);
}

<article id="article-@Model.Post.Metadata.Slug">
    <header>
        <h1>@Model.Post.Metadata.Title</h1>
        <div class="clearfix">
            <a asp-page="./Post" asp-route-slug="@Model.Post.Metadata.Slug" class="btn btn-sm btn-secondary float-left">
                <i class="calendar outline icon"></i>
                <time datetime="@Model.Post.Metadata.Date.ToLocalTime().ToString("d-MM-yyyy")">
                    @Model.Post.Metadata.Date.ToLocalTime().ToString("d MMMM yyyy")
                </time>
            </a>

            @foreach (var tag in Model.Post.Metadata.Tags)
            {
                <a asp-page="./Tag" asp-route-name="@tag" class="btn btn-sm btn-secondary float-right">
                    <i class="right chevron icon"></i> @tag
                </a>
            }
        </div>
    </header>

    @Html.Raw(Model.Post.Content)

    <div class="clearfix">
        @try
        {
            var prev = prevAndNext.Previous.Value;
            <a asp-page="./Post" asp-route-slug="@prev.Slug" class="btn btn-secondary float-left">
                <i class="arrow left icon"></i>
                @prev.Title
            </a>
        }
        catch (NullReferenceException) { }

        @try
        {
            var next = prevAndNext.Next.Value;
            <a asp-page="./Post" asp-route-slug="@next.Slug" class="btn btn-secondary float-right">
                @next.Title
                <i class="arrow right icon"></i>
            </a>
        }
        catch (NullReferenceException) { }
    </div>
</article>