@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section class="ui raised segment">
    @foreach (var post in Model.Posts)
    {
        <div class="ui padded vertical segment">
            <a asp-page="./Post" asp-route-slug="@post.Slug">
                <h3>@post.Title</h3>
            </a>
            <br>
            <div class="ui left floated">
                <time datetime="@post.Date">@post.Date.ToLocalTime().ToString("d MMMM yyyy")</time>
            </div>
            <div class="ui left floated">
                
            </div>
        </div>
    }

    @if (Model.PagesCount > 0)
    {
        <div class="ui pagination menu">
            <a href="/?page=@Model.PreviousPage" class="item">
                <i class="chevron circle left icon"></i>
            </a>

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <a href="/?page=@i" class="active item">@i</a>
                }
                else
                {
                    <a href="/?page=@i" class="item">@i</a>
                }
            }

            <a href="/?page=@Model.NextPage" class="item">
                <i class="chevron circle right icon"></i>
            </a>
        </div>
    }
</section>