@page "{slug}"
@model PostModel

@using downr.Services.Posts

@inject IPostService postService

@{
    this.ViewData["Title"] = Model.Post.Title;

    var prevNext = this.postService.GetPreviousAndNextPosts(Model.Post.Slug);
}

<article id="article-@Model.Post.Slug">
    <header>
        <h1>@Model.Post.Title</h1>
        <div class="clearfix">
            <a asp-page="./Post" asp-route-slug="@Model.Post.Slug" class="btn btn-sm btn-secondary float-left">
                <i class="calendar outline icon"></i>
                <time datetime="@Model.Post.Date.ToLocalTime().ToString("d-MM-yyyy")">
                    @Model.Post.Date.ToLocalTime().ToString("d MMMM yyyy")
                </time>
            </a>

            @foreach (var category in Model.Post.Categories)
            {
                <a asp-page="./Category" asp-route-name="@category" class="btn btn-sm btn-secondary float-right">
                    <i class="right chevron icon"></i> @category
                </a>
            }
        </div>
    </header>

    @Html.Raw(Model.Post.Content)

    <div class="clearfix">
        @if (prevNext.previous != null)
        {
            <a asp-page="./Post" asp-route-slug="@prevNext.previous.Slug" class="btn btn-secondary float-left">
                <i class="arrow left icon"></i>
                @prevNext.previous.Title
            </a>
        }

        @if (prevNext.next != null)
        {
            <a asp-page="./Post" asp-route-slug="@prevNext.next.Slug" class="btn btn-secondary float-right">
                @prevNext.next.Title
                <i class="arrow right icon"></i>
            </a>
        }
    </div>
</article>

@section scripts {
    <script>
        $(document).ready(() => {
            $('pre code').each((i, block) => hljs.highlightBlock(block));
        });
    </script>
}