<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="index, follow">
        <meta name="description" content="@GlobalConstants.Description">

        <title>@ViewData["Title"] - @GlobalConstants.Title</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:500,700">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" asp-page="./Index">
                <img src="/images/logo.svg" alt="Logo" class="logo">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-page="./Index" class="nav-link">Publications</a>
                    </li>
                    <vc:tags></vc:tags>
                </ul>
            </div>
        </nav>

        <div class="container content">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    @RenderBody()
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card me">
                        <img class="card-img-top" src="/images/man.jpg" alt="Ivan Ivanov profile picture" />
                        <div class="card-body">
                            <h5 class="card-title">Ivan Ivanov</h5>
                            <p class="card-text about-me-text">
                                I have many years experience of technical backhround as
                                web developer with solid experience with .NET Platform and Node.js Stack.
                                I develop my interests in Back-End development with ASP.NET Stack and DevOps
                                using Docker and Kubernetes, usually I using Linux for my
                                development wokstation.
                            </p>
                            <p class="card-text text-center">
                                <img class="img-fluid" width="90" src="/static/images/csyntaxnet_nametag.png" alt="Instagram" />
                            </p>
                            <p class="card-text text-center">
                                <a class="twitter-follow-button" href="https://twitter.com/csyntaxdev" target="_blank">
                                    Follow @@csyntaxdev
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <p>(c) 2015 - @DateTime.Now.Year @GlobalConstants.Author</p>
                <p>This project build with <a href="https://github.com/csyntax/downr">Downr.</a></p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>

        <script>
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>

        @RenderSection("Scripts", required: false)
    </body>
</html>